//COLORS

$colorPrimary-light: #E46915; //AADDBB;
$colorPrimary:#C00606; //18ff80;
$colorPrimary-dark: #87372E;//00a84b;

// $colorSecondary:
$colorSecondary-light: #f7df7d;
$colorSecondary: #F4Ad14;
$colorSecondary-dark: #af560B;

// $colorTertiary:

$colorQuaternary-light: #cbd997;
$colorQuaternary: #7bc407;
$colorQuaternary-dark: #74a014;

//$colorQuaternary

$colorTertiary-light: #Dcdfdc;
$colorTertiary: #B9A097;//881155;
$colorTertiary-dark: #6e5d5b;//7c184e;//881155;

$colorPaletteGrey: #687251; //palette
$colorGrey-light1: #f7f7f7;
$colorGrey-light2: #dcdfdc; //palette
$colorGrey-light3: #ccc;

$colorGrey-dark1: #A9aaa7; //palette
$colorGrey-dark2: #555;
$colorGrey-dark3: #333;


$colorBlack: #000;
$colorPaletteBlack: #404f21;
$colorWhite: #ffffff;
$colorOffwhite: #fefefe;//palette


//GRID VARIABLES

$grid-width: 114rem;
$gutter-leftright: 1rem;
$gutter-topbott: 2rem;